[submodule "rte/subprojects/physfs"]
	path = rte/subprojects/physfs
	url = https://github.com/icculus/physfs
[submodule "rte/subprojects/simplesquirrel"]
	path = rte/subprojects/simplesquirrel
	url = https://github.com/SuperTux/simplesquirrel
[submodule "rte/SDL2_gfx"]
	path = rte/SDL2_gfx
	url = https://github.com/ferzkopp/SDL2_gfx
