# Directories
## VS Editors
.vs/
.vscode/

## Clangd Cache
*/.cache

## KDevelop
*/.kdev4/

# Files
## KDevelop
*.kdev4

## Brux Runtime Output
*/log.txt

## IDE Meson User Files
ide/meson.build.user
