# Directories
.vscode/
ide/.kdev4/*
ide/build/*
ide/.cache/*
rte/bin/xyg
rte/bin/release/*
rte/obj/*
# Files
*.o
*.dll
*.exe
*.kdev4
*/log.txt
log.txt
ide/meson.build.user
rte/*.layout
rte/bin/brux
rte/bin/brux.*
rte/bin/count.txt
rte/bin/game.js
rte/bin/log.txt
rte/XYG_Runtime.layout
rte/XYG_Runtime.depend
test/log.txt
.vscode/*