# Directories
.cache
.vs
bin
build
physfs_project-prefix
subprojects/*/
!subprojects/physfs
!subprojects/simplesquirrel

# Files
CMakeSettings.json
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
test/ignore.nut
